<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="LinuxPaths" type="System.Configuration.NameValueSectionHandler" />
    <section name="WindowsPaths" type="System.Configuration.NameValueSectionHandler" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>


  <LinuxPaths>
    <add key="ImportDirectory" value="C:\Import\Inbox"/>
    <add key="ProcessedDirectory" value="C:\Import\Processed"/>
    <add key="RejectedDirectory" value="C:\Import\Rejected"/>
  </LinuxPaths>
  <WindowsPaths>
    <add key="ImportDirectory" value="C:\Import\Inbox"/>
    <add key="ProcessedDirectory" value="C:\Import\Processed"/>
    <add key="RejectedDirectory" value="C:\Import\Rejected"/>
  </WindowsPaths>

  <!-- remap DLL libraries for running on Mono (for Linux and OSX) -->
  <!-- uncomment if running on Linux / OSX (must be commented when running without Mono) -->
  <!-- 
  <dllmap dll="z3.dll" target="libz3.so" os="linux" cpu="x86"/>
  <dllmap dll="z3.dll" target="libz3.dylib" os="osx" cpu="x86"/>
  -->
</configuration>
